
@model Treeview_2.Models.AddResultBySubject

@{
    ViewBag.Title = "Add Result By Subject";
}

<h2>ResultByClass</h2>
@using (Html.BeginForm("AddResultBySubject", "School", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label>Search Student By Class</label>
                    @*@Html.Label("Search Student By Class", new { @class="form-control"})*@
                    @Html.HiddenFor(m=>m.SchoolId)
                </div>
                <div class="col-md-3">
                    @Html.DropDownListFor(m => m.ClassId, ViewBag.ClassList as IEnumerable<SelectListItem>, "Select Class", new { @class = "form-control",@onchange="loadSubjects()" })
                </div>
                <div class="col-md-3">
                    @Html.DropDownListFor(m => m.SubjectId, new List<SelectListItem>(), "Select Subject", new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <button id="btnSearch" class="btn btn-primary" type="button" onclick="GetSubjectwiseResult()">Search</button>
                </div>
            </div>
        </div>
        <div class="row" id="divPartial">
            @Html.Partial("_AddResultBySubject", Model)
            
        </div>
    </div>

}
@section Scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        $("#divPartial").hide();
    });

    function GetStudents()
    {

    }
    function loadSubjects() {
        var classId = $("#ClassId").val();
        var schoolId= 
        $.ajax({
            type: "GET",
            url: '/School/GetSubjectsByClass',
            dataType: 'json',
            data: { ClassId: classId } ,
            success: function (data) {
                var markup = "<option value='0'>Select Subject</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#SubjectId").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
    function GetSubjectwiseResult() {
        var classId = $("#ClassId").val();
        var subjectId = $("#SubjectId").val();
        var formData = $("#form-Search").serializeArray();
        $.ajax({
            type: "GET",
            url: "/School/GetSubjectwiseResult",
            data: { subjectId: subjectId, classId: classId },
            success: success,
        });
        return false;
    }

    function success(result)
    {
        $("#divPartial").show();
        $('div#divPartial').html(result);
    }
    </script>
}
