@{
    ViewBag.Title = "Home Page";
}


<div class="form-horizontal">
    <h4>Please Expand and Select node.</h4>
    <div class="row">

        <div class="col-md-12">
            
            <div id="tree1"></div>
        </div>
    </div>
</div>

@section Scripts{
<script>

    var data = [
    {
        label: 'node1',
        children: [
            {
                label: 'child1',
                children: [
                    {
                        label: 'grandChild1', children: [
                            { label: 'grandChild3', link: "www.google.com" },
                            { label: 'grandChild4' }
                        ]
                    },
                     { label: 'grandChild2' }
                ]
            },
            { label: 'child2' }
        ]
    },
    {
        label: 'node2',
        children: [
            { label: 'child3' }
        ]
    }
    ];


    //$(function () {
    //    $('#tree1').tree({
    //        data: data
    //    });
    //});


    $.getJSON(
    '/home/GetData',
    function (data) {
        $('#tree1').tree({
            data: data,
            saveState: true
        });
    }
);
    $('#tree1').bind(
    'tree.click',
    function (event) {
        event.preventDefault();
        var id = event.node.Id;
        // window.location.replace("http://stackoverflow.com");
        //var url = @Url.Action("ChangeUrl", "Home")/id;
        var url = "../home/ChangeUrl/" + id;
        window.location.href = url;
    }
);
</script>
}